---
const { platform, username } = Astro.props;
---
<a href={`https://www.${platform}.com/${username}`}>{platform}</a>

<style>
    a {
        border-radius: 1rem;
        padding: 0.5rem 1rem;
        color: white;
        background-color: #9290C3;
        text-decoration: none;
    }
</style>
